<h2>Customer Bill</h2>

<table class="table table-bordered">

	<tr>
		<th>Customer</th>
		<td>@ViewBag.Customer</td>
	</tr>

	<tr>
		<th>Room Number</th>
		<td>@ViewBag.Room</td>
	</tr>

	<tr>
		<th>Days Stayed</th>
		<td>@ViewBag.Days</td>
	</tr>

	<tr>
		<th>Room Price per Day</th>
		<td>@ViewBag.RoomPrice</td>
	</tr>

	<tr>
		<th>Vehicle Parking</th>
		<td>@ViewBag.Vehicles</td>
	</tr>

	<tr>
		<th>Food Charges</th>
		<td>@ViewBag.Food</td>
	</tr>

	<tr class="table-success">
		<th>Total Bill</th>
		<td>@ViewBag.TotalBill</td>
	</tr>

</table>